@supports (grid-area:auto) {

}

* {
  box-sizing: border-box;
}

/* CSS GRID and GRID AREAS*/

.site {
  display: grid;
  margin: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 30px 115px 65px 45px 225px 350px 200px 40px;
  grid-template-areas:
    'hd hd hd hd hd hd hd'
    'nv nv nv nv nv nv nv'
    'ec1 db db db db db ec2'
    'ec1 ann ann ann ann ann ec2'
    'ec1 tk tk analyt analyt analyt ec2'
    'ec1 rc rc analyt analyt analyt ec2'
    'ec1 card card card card card ec2'
    'ft ft ft ft ft ft ft';
}

.header {
  grid-area: hd;
  background-image: linear-gradient(#2498f4, #1d85d8);
}

.navbar {
  grid-area: nv;
  text-align: center;
  background-image: url("../img/navbar-bkg.png");
  background-size: cover;
  background-position: center;
  padding-top: 20px;
}

.dash {
  grid-area: db;
  background: #eeffdd;
}

.announce {
  grid-area: ann;
  background: #cceedd;
}

.tasks {
  grid-area: tk;
  background: #eeeeee;
}

.recommend {
  grid-area: rc;
  background: #cccccc;
}

.analyt {
  grid-area: analyt;
  background: #eeeeee;
};

.cards {
  grid-area: card;
  background: #ccddee;
}

.footer {
  grid-area: ft;
  background: #ddeecc;
}

.navicon {
  display: inline-block;
  width: 62px;
  margin-right: 10px;
}

.navicon img {
  display: block;
  padding-top: 15px;
  margin: 0 auto;
}

@media screen and (max-width:767px) {
  .site {
    grid-template-columns: 1fr;
    grid-template-areas:
    'hd'
    'nv'
    'db'
    'ann'
    'tk'
    'rc'
    'analyt'
    'card'
    'ft';
  }

  .navicon {
    margin-right: 0px;
  }
}

/* OTHER STYLING */
