@supports (grid-area:auto) {

}

* {
  box-sizing: border-box;
}

/* FONTS */

.dash-text, .announce-text, p {
  font-family: 'Myriad Pro', sans-serif;
}

/* CSS GRID and GRID AREAS*/

.site {
  display: grid;
  margin: 0;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 40px 115px 90px 845px 40px;
  grid-template-areas:
    'hd hd hd'
    'nv nv nv'
    'ec1 db ec2'
    'ec1 main ec2'
    'ft ft ft';
}

.header {
  grid-area: hd;
  background-image: linear-gradient(#2498f4, #1d85d8);
  vertical-align: middle;
}

.header-text {
  color: white;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: bold;
  font-size: 13px;
  padding-top: 2px;
}

.header-text:hover {
  font-size: 14px;
}

.header-flex {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
  padding-right: 100px;
}

.header-flex-item {
  margin-top: 2px;
  padding-right: 10px;
  padding-left: 10px;
  max-height: 17px;
  /* border-right: 2px solid #1c85d8; */
}

.header-flex-item+.header-flex-item {
  border-left: 1px solid #1c85d8
}

.header-icon {
  max-height: 17px;
}

.header-icon:hover {
  transform: scale(1.1, 1.1);
}

.navbar {
  grid-area: nv;
  text-align: center;
  background-image: url("../img/navbar-bkg.png");
  background-size: cover;
  background-position: center;
  padding-top: 20px;
}

.navicon {
  display: inline-block;
  width: 62px;
  margin-right: 10px;
}

.navicon img {
  display: block;
  padding-top: 15px;
  margin: 0 auto;
}

.dash {
  grid-area: db;
  background: #33cc66;
  margin: 15px 0;
  border-radius: 5px;
}

.dash-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.dash-text {
  color: white;
  font-size: 30px;
  margin-left: 20px;
  padding-top: 5px;
}

.search {
  position: relative;
}

.search input {
  width: 200px;
  font-size: 16px;
  line-height: 28px;
  border: 1px solid #2db55b;
  margin-right: 15px;
  border-radius: 2px;
}

.search img {
  position: absolute;
  right: 30px;
  top: 5px;
}

.main {
  grid-area: main;
  display: grid;
  margin: 0;
  padding: 10px;
  position: relative;
  background-image: linear-gradient(#f6f6f6, #ffffff, #ffffff, #ffffff);
  border-top: 1px solid #eeeeee;
  border-radius: 5px;
  grid-template-columns: 1fr;
  grid-template-rows: 825px;
  grid-template-areas:
    'container';
}

.main::before, .main::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(#eeeeee, #ffffff, #ffffff, #ffffff);
  border-radius: 5px;
  top: 3px;
  bottom: -1px;
  width: 1px;
}

.main::before {
  left: -1px;
}

.main::after {
  right: -1px;
}

.container {
  grid-area: container;
  display: grid;
  margin: 0;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, .25);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 225px 350px 200px;
  grid-template-areas:
    'ann ann ann ann ann'
    'tk tk analyt analyt analyt'
    'rc rc analyt analyt analyt'
    'card card card card card'
    'ft ft ft ft ft';
}

.announce {
  grid-area: ann;
  background: #ffffff;
}

.announce-text {
  text-transform: uppercase;
  color: #fe7f13;
}

.tasks {
  grid-area: tk;
  background: #eeeeee;
}

.recommend {
  grid-area: rc;
  background: #cccccc;
}

.analyt {
  grid-area: analyt;
  background: #eeeeee;
}

.cards {
  grid-area: card;
  background: #ccddee;
}

.footer {
  grid-area: ft;
  background: #ddeecc;
}

@media screen and (max-width:767px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-areas:
      'ann'
      'tk'
      'rc'
      'analyt'
      'card';
  }

  .site {
    grid-template-columns: 1fr;
    grid-template-areas:
    'hd'
    'nv'
    'db'
    'main'
    'ft';
  }

  .navicon {
    margin-right: 0px;
  }

  .header-flex {
    padding-right: 10px;
  }

  .dash {
    margin: 10px;
  }

  .search input {
    width: 175px;
  }
}

/* POINTER CURSOR */

.navicon:hover, .header-flex-item:hover {
  cursor: pointer;
}
